<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
 <link rel="stylesheet" href="/stylesheets/style.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" integrity="sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
</head>
<body>

  
 <div class="leftMenu">
   <div class="logo">
       <a href="#">
           <img class="instagramTextLogo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/840px-Instagram_logo.svg.png" alt="">
       </a>
   </div>

   <ul id="leftMiddle">
       <a href="" id="home" class="middleMenu">
         <i class="ri-home-fill"></i>
           <b>Home</b></a>
       <a href="" id="search" class="middleMenu">
         <i class="ri-search-line"></i>
           Search</a>
       <a href="" id="discover" class="middleMenu">
         <i class="ri-compass-3-line"></i>
           Explore</a>
       <a href="" id="reels" class="middleMenu">
         <i class="ri-clapperboard-fill"></i>
           Reels</a>
       <a href="" id="messages" class="middleMenu">
         <i class="ri-messenger-line"></i>
           Messages</a>
       <a href="" id="notifications" class="middleMenu">
         <i class="ri-heart-3-line"></i>
           Notifications</a>
       <a href="" id="create" class="middleMenu">
         <i class="ri-add-circle-line"></i>
           Create</a>
       <a href="" id="profile" class="middleMenu">
         <i class="ri-user-3-fill"></i>
           Profile</a>
       <a href="" id="more" class="bottomMenu">
         <i class="ri-menu-line"></i>
               More</a>
   </ul>
</div>
  